{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TODO app!</title>
</head>
<body>
    <h1>todos</h1>
    <input type="text" name="" id="input-field">
    <!-- <div>
        <input type="checkbox" name="" id="">
        <span>AAAA</span>
    </div> -->
    <div>3 items</div>
    <footer>
        <p>
            Double-click to edit a todo
        </p>
        <p>
            Written by class#1
        </p>
        <p>
            Part of python course
        </p>
    </footer>

    <script src="{% static 'todo/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'todo/js/todo.js' %}"></script>
</body>
</html>